@charset "UTF-8";

* {
	margin: 0;
	padding: 0; /*全要素のマージン・パディングをリセット*/
	line-height: 1.5; /*全要素の行の高さを1.5倍にする*/
	color: #2C3E50; /*文字色*/
}

body {
	position: relative;
	background-color: #f0f0f0; /*ページ全体の背景色*/
	text-align: center; /*IE6以下でセンタリングするための対策*/
	margin: 0px;
	padding: 0px;
}

html, body {
	height: 100%;
}

body, #wrapper {
	position: relative;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

div#main {
	width: auto;
	margin: 0 auto; /*内容全体をセンタリング*/
	background-color: #f0f0f0; /*内容全体の背景色*/
	display: flex;
	text-align: left;
}


span.fc-title {
	color: #ffffff;
}
a {
	text-decoration: none;
}
.header {
	display: inline-block;
	position: fixed;
	width: 100%;
	height: 70px;
	top: 0px;
	left: 0px;
	background-color: #9caeb7;
	left: 0px;
	z-index: 990;
}

img {
	line-height:70px;
	margin-top: 20px;
	text-align: left;
	position: relative;
	Z-index: 999;
	float: left;
	margin-left: 10px;
}

.select-open-button {
	background-color: transparent;
	border-style: none;
	text-decoration: underline;
	font-size: 107%;
	font-weight: lighter;
	text-decoration: none;
	color: #2C3E50;
	outline: 0;
	position: absolute;
	margin-left: 2.0px;
	margin-top: 2.5px;
}

.select-open-button:hover {
	color: #000000;
}

.select-open-button.open {
	color: #0432ff;
}

.select-open-button:focus {
	outline: 0;
}


div#select-menu {
	border-radius: 5.0px;
	background-color: #2C3E50;
	text-align: right;
	width: auto;
	margin: 0;
	padding: 0px 5px 0px 5px;
	opacity: 0.8;
	position: absolute;
	top: 55px;
}

#select-menu .close {
	display: none;
}

ul {
  list-style-type: none;

}

li {
	width: 120px;
    text-align: left;
}

li a {
	 color: #ffffff;

}

li a:hover {
	 color: #ff9200;
}

#login-info {
	line-height: 70px;
	text-align: right;
	margin: 25px 15px 0 0;
	Z-index: 700;
	font-size: 100%;
	display: flex;
    justify-content: flex-end;
}

#login-info p {
	margin-right: 25px;
	text-align: right;
	position: relative;
	Z-index: 1000;
	font-size: 110%;
	display: flex;
    justify-content: flex-end;
    display: inline;
}

#login-info span {
	margin: 0;
	text-align: right;
	position: relative;
	Z-index: 1000;
	font-size: 110%;
	display: flex;
    justify-content: flex-end;
}

#login-info a:hover {
	text-decoration: underline;
}

#submenu-label {
	font-size: 150%;
	margin-left: 10px;
}

div#submenu {
	width: 250px; /*幅の指定*/
	margin: 140px 10px 10px 25px; /*位置調整（IE6のバグに注意）*/
	display: table-cell;
	float: left; /*サブメニューのカラムを左寄せにする*/
}

div#submenu-body {
	margin-top: 5px;
	padding-bottom: 6px;
	height: auto;
	background-repeat: no-repeat;
	background-position: bottom;
	background-color: transparents;
	border: solid 0.5px #636363;
	border-radius: 10.0px;
	position: relative;
}

div#submenu-body p {
	margin-top: 23px;
	margin-left: 10px;
}

.title {
	position: relative;
}
.event-submit {
	color: #ffffff;
	background-color: #a9a9a9;
	border: solid 1.0px #a9a9a9;
	border-radius: 5.0px;
	height: 25px;
	width: 75px;
	margin-bottom: 15px;
}

.event-submit.notblank {
	color: #ffffff;
	background-color: #3788D8;
	border: solid 1.0px #3788D8;
	border-radius: 5.0px;
	height: 25px;
	width: 75px;
	margin-bottom: 15px;
}

.event-submit.notblank:hover {
	color: #ffffff;
	background-color: #3788D8;
	border: solid 1.0px #3788D8;
}

#allDay-input-date {
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 190px;
	color: #636363;
	height: 25px;
	text-indent: 0.2em;
}

input#allDay-input-date.close {
	color: #f0f0f0;
	background-color: #f0f0f0;
}

input#allDay-input-date-end.close {
	color: #f0f0f0;
	background-color: #f0f0f0;
}

#allDay-input-date-end {
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 190px;
	color: #636363;
	height: 25px;
	text-indent: 0.2em;
}

#input-date-start {
	margin: 0 1px 0 0;
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 120px;
	color: #636363;
	height: 25px;
	font-size: 80%;
	text-indent: 0.2em;
}

#input-date-end {
	margin: 0 1px 0 0;
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 120px;
	color: #636363;
	height: 25px;
	font-size: 80%;
	text-indent: 0.2em;
}

#input-time-start {
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 62px;
	color: #636363;
	height: 25px;
	font-size: 80%;
}

#input-time-end {
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 62px;
	color: #636363;
	height: 25px;
	font-size: 80%;
}

.input-text {
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 190px;
	color: #636363;
	height: 25px;
	text-indent: 0.2em;
}

div.settime-inputbox {
	display: none;
	position: relative;
}

#validation-message{
	margin-top: -20px;
	position: absolute;
	z-index: 100;
	text-align: center;
	width: 250px;
	border-radius: 7.0px;
	width: 250px;
	font-size: 85%;
	color: red;
}

#validation-message p{
	color: red;
}

#validation-message i{
	color: red;
}

#validation-message.close{
	display: none;
}

#modal-validation-message{
	margin-top: -20px;
	position: absolute;
	z-index: 100;
	text-align: center;
	width: 250px;
	border-radius: 7.0px;
	width: 250px;
	font-size: 85%;
	color: red;
}

#modal-validation-message p{
	color: red;
}

#modal-validation-message i{
	color: red;
}

#modal-validation-message.close{
	display: none;
}


div#main-content-wrapper {
	width: auto;/*幅の指定と位置調整*/
	float: right; /*2カラム全体を右寄せにする*/
	margin: 100px 0 100px 0;
	flex: 1;
}

#errors {
	position: absolute;
	color: red;
	width: 220px;
	margin-top: -18px;
	margin-left: 35px;
}
/* モーダルウィンドウの設定 */
#modalwindow-wrapper {
	text-align: left;
}

#overlay {
	/* viewpointを相対位置にし、全画面表示にする */
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.3); /* 背景を半透明にする */
	display: none; /* HTML要素を非表示にする */
	z-index: 1 /* 「メインのHTML要素」よりもスタックレベルを高くする */
}

.blur {
  overflow: hidden;
}
.blur::after {
  content: "";
  position: absolute;
  top: -7px;
  right: -7px;
  bottom: -7px;
  left: -7px;
  background: inherit;
  filter: blur(7px);
}

#edit-event-modalwindow {
	position: relative;
	width: 280px;
	height: auto;
	position: fixed; /* viewpointを相対位置にする */
	background-color: #f0f0f0;
	display: none;
	z-index: 2; /* 「オーバーレのHTML要素」よりもスタックレベルを高くする */
	border: none;
	border-radius: 10.0px;
}

div#edit-event-modalwindow p {
	margin-top: 23px;
	margin-left: 20px;
}

#modal-input-date-start {
	margin: 0 1px 0 0;
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 130px;
	color: #636363;
	height: 25px;
	font-size: 80%;
	text-indent: 0.2em;
}

#modal-input-date-end {
	margin: 0 1px 0 0;
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 130px;
	color: #636363;
	height: 25px;
	text-indent: 0.2em;
	font-size: 80%;
}

#modal-input-time-start {
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 62px;
	color: #636363;
	height: 25px;
	font-size: 80%;
}

#modal-input-time-end {
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 62px;
	color: #636363;
	height: 25px;
	font-size: 80%;
}

input#modal-input-date-start.close {
	color: #f0f0f0;
	background-color: #f0f0f0;
}

input#modal-input-date-end.close {
	color: #f0f0f0;
	background-color: #f0f0f0;
}

input#modal-input-time-start.close {
	color: #f0f0f0;
	background-color: #f0f0f0;
}

input#modal-input-time-end.close {
	color: #f0f0f0;
	background-color: #f0f0f0;
}
#input-textarea {
	text-indent: 0.2em;
}

#modal-input-text {
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 200px;
	color: #636363;
	text-indent: 0.2em;
	height: 25px;
}

#modal-allDay-input-date {
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 200px;
	color: #636363;
	text-indent: 0.2em;
	height: 25px;
}

#modal-allDay-input-date-end {
	border: solid 0.5px #636363;
	border-radius: 7.0px;
	width: 200px;
	color: #636363;
	text-indent: 0.2em;
	height: 25px;
}

input#modal-allDay-input-date.close {
	color: #f0f0f0;
	background-color: #f0f0f0;
}

input#modal-allDay-input-date-end.close {
	color: #f0f0f0;
	background-color: #f0f0f0;
}

.edit-event-submit {
	color: #ffffff;
	background-color: #a9a9a9;
	border: solid 1.0px #a9a9a9;
	border-radius: 5.0px;
	height: 25px;
	width: 75px;
	margin-bottom: 25px;
	margin-top: 23px;
	float: left;
	margin-left: 25px;
}

.edit-event-submit.notblank {
	color: #ffffff;
	background-color: #3788D8;
	border: solid 1.0px #3788D8;
	border-radius: 5.0px;
	height: 25px;
	width: 75px;
	margin-bottom: 25px;
	margin-top: 23px;
	float: left;
	margin-left: 25px;
}

.edit-event-submit.notblank:hover {
	border: solid 1.0px #ff9200;
}

#delete-event-submit {
	background-color: #f0f0f0;
	color: #dc143c;
	border: solid 1.0px #dc143c;
	border-radius: 5.0px;
	height: 25px;
	width: 85px;
	margin-bottom: 15px;
	margin-top: 23px;
	margin-right: 25px;
	float: right;
}

#delete-event-submit:hover {
	background-color: #dc143c;
	color: #ffffff;
}

#checkbox {
	text-align: left;
	margin-left: 10px;
}


#modal-close-button {
	position: absolute;
	z-index: 100;
	display: none;
	font-size: 30px;
	margin-left: 270px;
	margin-top: -40px;
	color: #f0f0f0;
}

i.far.fa-times-circle {
	color: #f0f0f0;
}

i.far.fa-times-circle:hover {
	color: #151e27;
}

footer {
	position: absolute; /*　変更*/
	bottom: 0;
	margin-top: auto;
	background-color: #9caeb7;
	height: 65px;
	width: 100%;
	color: white;
	margin-bottom: 0;
	font-size: 13px;
	text-align: center;
	z-index: 999;
}

footer p {
	padding: 20px;
	font-family: 'Century Gothic', 'Gulim', sans-serif, 'メイリオUI', Arial,
		"Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo;
}