@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

/*
Tipr 4.1
Copyright (c) 2019 Tipue
Tipr is released under the MIT License
http://www.tipue.com/tipr
*/

.tipr_content
{
     font: 12px 'Source Code Pro', monospace;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 1px;
     background-color: #fff;
     padding: 6px 13px 7px 13px;
     border-radius: 3px;
}
.tipr_container_below
{
     display: none;
     position: absolute;
     margin-top: 13px;
     z-index: 1000;
     box-shadow: 0 0 1px 1px #f9f9f9;
}
.tipr_container_above
{
     display: none;
     position: absolute;
     margin-top: -77px;
     z-index: 1000;
     box-shadow: 0 0 1px 1px #f9f9f9;
}
.tipr_point_above, .tipr_point_below 
{
     position: relative;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 3px;
}
.tipr_point_above:after, .tipr_point_above:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	top: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_above:after
{
	border-top-color: #fff;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.tipr_point_above:before 
{
	border-top-color: #ccc;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}
.tipr_point_below:after, .tipr_point_below:before
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	bottom: 100%;
	content: "";
	height: 0;
	width: 0;
}
.tipr_point_below:after
{
	border-bottom-color: #fff;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.tipr_point_below:before 
{
	border-bottom-color: #ccc;
	border-width: 8px;
	left: 50%;
	margin-left: -8px;
}


/* Alt mode */


.tipr_content_alt
{
     font: 12px 'Source Code Pro', monospace;
	color: #777;
	text-transform: uppercase;
	letter-spacing: 1px;
     background-color: #f1f1f1;
     padding: 6px 13px 7px 13px;
     border-radius: 3px;
}

.tipr_container_above_alt, .tipr_container_below_alt
{
     display: none;
     position: absolute;
     z-index: 1000;
}
.tipr_point_above_alt, .tipr_point_below_alt
{
     position: relative;
	background: #f1f1f1;
	border: 1px solid #f1f1f1;
	border-radius: 3px;
}
.tipr_point_above_alt:after, .tipr_point_below_alt:after
{
	position: absolute;
	pointer-events: none;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	border-width: 7px;
	left: 50%;
	margin-left: -7px;
}
.tipr_point_above_alt:after
{
	top: 100%;
	border-top-color: #f1f1f1;
}
.tipr_point_below_alt:after
{
	bottom: 100%;
	border-bottom-color: #f1f1f1;
}

